@media screen and (min-width: 615px) {
    .candidate-details {
        height: 280px;
        width: 615px;
        float: left;
        padding-top: 20px;
        margin-bottom: 30px;
        margin-right: 30px;
        background-color: #f4f4f4;
        box-shadow: 2px 2px 5px grey;

        .name-container {
            height: 15%;
            width: 100%;
            margin-left: 30px;
            margin-bottom: 15px;
            font-size: 1.5em;
        }

        .image-container {
            float: left;
            margin-left: 30px;
            margin-right: 30px;

            img {
                height: 140px;
                width: 120px;
            }
        }

        .jobs-container {
            display: inline-block;
            height: 70%;
            width: 70%;

            .job {
                margin-bottom: 20px;

                .job-title {
                    font-size: 1.2em;

                    .title {
                        font-weight: bold;
                    }
                }

                .gap {
                    font-size: 0.9em;
                    opacity: 0.6;
                    font-style: italic;
                    margin-top: 15px;
                }
            }

            a {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 614px) {
    .candidate-details {
        height: 440px;
        width: 400px;
        margin-bottom: 30px;
        background-color: #f4f4f4;
        box-shadow: 2px 2px 5px grey;

        .name-container {
            position: relative;
            top: 160px;
            margin-left: 20px;
            font-size: 1.5em;
            color: white;
        }

        .image-container {
            img {
                height: 200px;
                width: 400px;
                margin-top: -27px;
                object-fit: cover;
                object-position: 100% 47%;
            }
        }


        .jobs-container {
            margin: 20px 0px 20px 20px;

            .job {
                margin-bottom: 20px;

                .job-title {
                    font-size: 2.9vw;
                    .title {
                        font-weight: bold;
                    }
                }
                
                .period {
                    font-size: 2.5vw;
                }

                .gap {
                    font-size: 0.9em;
                    opacity: 0.6;
                    font-style: italic;
                    margin-top: 15px;
                }
            }

            a {
                display: block;
            }
        }
    }
}