<div class="candidate-details">
  <div class="name-container">
    <span class="name"> {{ candidate.name }} </span>
  </div>
  <div class="image-container">
    <img src="{{ imagePath }}">
  </div>
  <div class="jobs-container">
    <div class="job" *ngFor="let job of candidate.jobs | slice:0:2">
      <div class="job-title">
          <span class="prefix"> Worked as: </span>
          <span class="title"> {{ job.title }} </span>
      </div>
      <div class="period">
          <span class="start-date-prefix"> from </span>
          <span class="start-date"> {{ job.startDate.format(DATE_FORMAT) }} </span>
          <span class="end-date-prefix"> to </span>
          <span class="end-date"> {{ job.endDate.format(DATE_FORMAT) }} </span>
      </div>
      <div class="gap" *ngIf="job.daysSinceLastJob && job.daysSinceLastJob > 0">
        <span class="prefix"> Gap in CV for </span>
        <span class="days-number"> {{ job.daysSinceLastJob }} </span>
        <span class="suffix"> days </span>
      </div>
    </div>
    <a *ngIf="candidate.jobs.length > 2" href=""> See all(#) </a>
  </div>
</div>