<div class="candidate-details">
  <div class="name">
    <span> {{ candidate.name }} </span>
  </div>
  <br>
  <div class="jobs" *ngFor="let job of candidate.jobs">
    <span class="job-prefix"> Worked as: </span>
    <span class="job-title"> {{ job.title }} </span>
    <span class="job-suffix"> , </span>
    <span class="start-date-prefix"> From </span>
    <span class="start-date"> {{ job.startDate }} </span>
    <span class="end-date-prefix"> To </span>
    <span class="end-date"> {{ job.endDate }} </span>
  </div>
  <br>
</div>